<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Cadastro de Evento</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container" style="margin-top: 30px;">
		<h1>Cadastrar Evento</h1>

		<form action="/eventos" method="post">
			<div>
				<label>Nome:</label>
				<input type="text" name="nome" required />
			</div>
			<div>
				<label>Local:</label>
				<input type="text" name="local" required />
			</div>
			<div>
				<label>Data:</label>
				<input type="text" name="data" placeholder="dd/mm/aaaa" required />
			</div>
			<div>
				<label>Horário:</label>
				<input type="text" name="horario" placeholder="00:00" required />
			</div>

			<div style="margin-top: 15px;">
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>
		</form>
	</div>
</body>
</html>